.card-title {
    background-image: url("/assets/logo-instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
}

.btn{
    margin-top: 20px;
    width: 100%;
}
input{
    margin-top: 2px;
}
input .ng-touched{
    border: 1px red;
}
input .ng-valid.ng-touched{
    border: 21px rgb(0, 255, 13);
}